<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankLoanManagerApp.attachment.home.title">Attachments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attachment" [routerLink]="['/attachment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bankLoanManagerApp.attachment.home.createLabel">
            Create a new Attachment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attachments?.length === 0">
        <span jhiTranslate="bankLoanManagerApp.attachment.home.notFound">No attachments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attachments && attachments.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="label"><span jhiTranslate="bankLoanManagerApp.attachment.label">Label</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="format"><span jhiTranslate="bankLoanManagerApp.attachment.format">Format</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="bankLoanManagerApp.attachment.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="bankLoanManagerApp.attachment.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="version"><span jhiTranslate="bankLoanManagerApp.attachment.version">Version</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="path"><span jhiTranslate="bankLoanManagerApp.attachment.path">Path</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filename"><span jhiTranslate="bankLoanManagerApp.attachment.filename">Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filesize"><span jhiTranslate="bankLoanManagerApp.attachment.filesize">Filesize</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="validationDate"><span jhiTranslate="bankLoanManagerApp.attachment.validationDate">Validation Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="engagementSubject"><span jhiTranslate="bankLoanManagerApp.attachment.engagement">Engagement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="userFirstName"><span jhiTranslate="bankLoanManagerApp.attachment.user">User</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedByFirstName"><span jhiTranslate="bankLoanManagerApp.attachment.updatedBy">Updated By</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="statusLabel"><span jhiTranslate="bankLoanManagerApp.attachment.status">Status</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attachment of attachments ;trackBy: trackId">
                    <td><a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a></td>
                    <td>{{ attachment.label }}</td>
                    <td>{{ attachment.format }}</td>
                    <td>{{ attachment.createdDate | date:'medium' }}</td>
                    <td>{{ attachment.updatedDate | date:'medium' }}</td>
                    <td>{{ attachment.version }}</td>
                    <td>{{ attachment.path }}</td>
                    <td>{{ attachment.filename }}</td>
                    <td>{{ attachment.filesize }}</td>
                    <td>{{ attachment.validationDate | date:'medium' }}</td>
                    <td>
                        <div *ngIf="attachment.engagementId">
                            <a [routerLink]="['/engagement', attachment.engagementId , 'view']" >{{ attachment.engagementSubject }}</a>
                        </div>
                    </td>
                    <td>
                        {{ attachment.userFirstName }}
                    </td>
                    <td>
                        {{ attachment.updatedByFirstName }}
                    </td>
                    <td>
                        <div *ngIf="attachment.statusId">
                            <a [routerLink]="['/status', attachment.statusId , 'view']" >{{ attachment.statusLabel }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attachment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attachments && attachments.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
