<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">
            <img src="../../../content/images/logo.svg" alt="" height="22">
          </span>
                    <span class="logo-lg">
            <img src="../../../content/images/logo-dark.png" alt="" height="17">
          </span>
                </a>

                <a href="/" class="logo logo-light">
                    <span class="logo-sm">
            <img src="../../../content/images/logo-light.svg" alt="" height="22">
          </span>
                    <span class="logo-lg">
            <img src="../../../content/images/logo-light.png" alt="" height="19">
          </span>
                </a>
            </div>

            <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
        <i class="fa fa-fw fa-bars"></i>
      </button>

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ml-2" ngbDropdown>
                <button type="button" class="btn header-item noti-icon" id="page-header-search-dropdown" data-toggle="dropdown" aria-haspopup="true" ngbDropdownToggle aria-expanded="false">
          <i class="mdi mdi-magnify"></i>
        </button>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown *ngIf="languages && languages.length > 1">
                <button type="button" class="btn header-item" id="page-header-user-dropdown-1" ngbDropdownToggle>
                <span>
                    <fa-icon icon="flag"></fa-icon>
                    <span jhiTranslate="global.menu.language">Language</span>
                </span>
            </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <!-- item-->
                    <a class="dropdown-item notify-item" *ngFor="let language of languages" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);">
                   {{ language | findLanguageFromKey }}
               </a>
                    <!-- item-->
                </div>
            </div>


            <div class="dropdown d-none d-lg-inline-block ml-1">
                <button type="button" class="btn header-item noti-icon" data-toggle="fullscreen" (click)="fullscreen()">
          <i class="bx bx-fullscreen"></i>
        </button>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" class="btn header-item noti-icon" id="page-header-notifications-dropdown" ngbDropdownToggle>
          <i class="bx bx-bell bx-tada"></i>
          <span class="badge badge-danger badge-pill">3</span>
        </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0" aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0" jhiTranslate="topbar.notifications.title"> Notifications</h6>
                            </div>
                            <div class="col-auto">
                                <a href="javascript: void(0);" class="small" jhiTranslate="topbar.notifications.view_all">View All</a>
                            </div>
                        </div>
                    </div>
                    <perfect-scrollbar style="position: relative; height: 230px;" [config]="configData">
                        <a href="" class="text-reset notification-item">
                            <div class="media">
                                <div class="avatar-xs mr-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                    <i class="bx bx-cart"></i>
                  </span>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-1">Taches en attente</h6>
                                    <div class="font-size-12 text-muted">
                                        <p class="mb-1">Vous avez des taches en attentes</p>
                                        <p class="mb-0"><i class="mdi mdi-clock-outline"></i> First Time
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>

                    </perfect-scrollbar>
                    <div class="p-2 border-top">
                        <a class="btn btn-sm btn-light btn-block text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-down-circle mr-1"></i> <span jhiTranslate="topbar.notifications.loadmore"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <button type="button" class="btn header-item" ngbDropdownToggle id="page-header-user-dropdown">
             <span *ngIf="!getImageUrl()">
                <fa-icon icon="user"></fa-icon>
            </span>
            <span *ngIf="getImageUrl()">
                <img [src]="getImageUrl()" class="rounded-circle header-profile-user" alt="Avatar">
            </span>

          <span class="d-none d-xl-inline-block ml-1">Herman</span>
          <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
        </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <!-- item-->
                    <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active">
                        <i class="bx bx-user font-size-16 align-middle mr-1"></i>
                        <span jhiTranslate="global.menu.account.settings">Settings</span>
                    </a>
                </div>
            </div>

            <div class="dropdown d-inline-block">
                <button type="button" class="btn header-item noti-icon right-bar-toggle" (click)="toggleRightSidebar()">
          <i class="bx bx-cog bx-spin"></i>
        </button>
            </div>

        </div>
    </div>
</header>