<div class="container-fluid">

    <jhi-page-title title="bankLoanManagerApp.employe.home.createOrEditLabel" [breadcrumbItems]="breadCrumbItems"></jhi-page-title>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                        <li [ngbNavItem]="1">
                            <a ngbNavLink jhiTranslate="bankLoanManagerApp.employe.detail.informations">Informations</a>
                            <ng-template ngbNavContent>
                                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                                    <div>
                                        <jhi-alert-error></jhi-alert-error>

                                        <div class="form-group" [hidden]="!editForm.get('id')!.value">
                                            <label for="id" jhiTranslate="global.field.id">ID</label>
                                            <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.codBnk" for="field_codBnk">Cod Bnk</label>
                                            <input type="text" class="form-control" name="codBnk" id="field_codBnk"
                                                   formControlName="codBnk"/>
                                            <div *ngIf="editForm.get('codBnk')!.invalid && (editForm.get('codBnk')!.dirty || editForm.get('codBnk')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('codBnk')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4 }">
                                                This field cannot be longer than 4 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.codEmp" for="field_codEmp">Cod Emp</label>
                                            <input type="text" class="form-control" name="codEmp" id="field_codEmp"
                                                   formControlName="codEmp"/>
                                            <div *ngIf="editForm.get('codEmp')!.invalid && (editForm.get('codEmp')!.dirty || editForm.get('codEmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('codEmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 6 }">
                                                This field cannot be longer than 6 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.rsEmp" for="field_rsEmp">Rs Emp</label>
                                            <input type="text" class="form-control" name="rsEmp" id="field_rsEmp"
                                                   formControlName="rsEmp"/>
                                            <div *ngIf="editForm.get('rsEmp')!.invalid && (editForm.get('rsEmp')!.dirty || editForm.get('rsEmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('rsEmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.nomEmp" for="field_nomEmp">Nom Emp</label>
                                            <input type="text" class="form-control" name="nomEmp" id="field_nomEmp"
                                                   formControlName="nomEmp"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.prenomEmp" for="field_prenomEmp">Prenom Emp</label>
                                            <input type="text" class="form-control" name="prenomEmp" id="field_prenomEmp"
                                                   formControlName="prenomEmp"/>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.fctEmp" for="field_fctEmp">Fct Emp</label>
                                            <input type="text" class="form-control" name="fctEmp" id="field_fctEmp"
                                                   formControlName="fctEmp"/>
                                            <div *ngIf="editForm.get('fctEmp')!.invalid && (editForm.get('fctEmp')!.dirty || editForm.get('fctEmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('fctEmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.adrEmp" for="field_adrEmp">Adr Emp</label>
                                            <input type="text" class="form-control" name="adrEmp" id="field_adrEmp"
                                                   formControlName="adrEmp"/>
                                            <div *ngIf="editForm.get('adrEmp')!.invalid && (editForm.get('adrEmp')!.dirty || editForm.get('adrEmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('adrEmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.teEmp" for="field_teEmp">Te Emp</label>
                                            <input type="text" class="form-control" name="teEmp" id="field_teEmp"
                                                   formControlName="teEmp"/>
                                            <div *ngIf="editForm.get('teEmp')!.invalid && (editForm.get('teEmp')!.dirty || editForm.get('teEmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('teEmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.typEnmp" for="field_typEnmp">Typ Enmp</label>
                                            <input type="text" class="form-control" name="typEnmp" id="field_typEnmp"
                                                   formControlName="typEnmp"/>
                                            <div *ngIf="editForm.get('typEnmp')!.invalid && (editForm.get('typEnmp')!.dirty || editForm.get('typEnmp')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('typEnmp')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="bankLoanManagerApp.employe.numMat" for="field_numMat">Num Mat</label>
                                            <input type="text" class="form-control" name="numMat" id="field_numMat"
                                                   formControlName="numMat"/>
                                            <div *ngIf="editForm.get('numMat')!.invalid && (editForm.get('numMat')!.dirty || editForm.get('numMat')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="editForm.get('numMat')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                                This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>

                                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                        </button>
                                    </div>
                                </form>
                            </ng-template>
                        </li>
                        <li [ngbNavItem]="2" *ngIf="!creationMode">
                            <a ngbNavLink jhiTranslate="bankLoanManagerApp.employe.detail.user">Utilisateur</a>
                            <ng-template ngbNavContent>
                                <form name="userForm" role="form" novalidate (ngSubmit)="saveUser()" [formGroup]="userForm">

                                    <div class="alert alert-warning" id="no-result" *ngIf="createUser && !hasUser">
                                        <span jhiTranslate="bankLoanManagerApp.employe.utilisateur.notFound">No employes user found</span>
                                    </div>

                                    <div *ngIf="hasUser || !createUser">
                                        <jhi-alert-error></jhi-alert-error>
                                        <jhi-alert></jhi-alert>
                                        <div class="form-group" [hidden]="!user.id">
                                            <label jhiTranslate="global.field.id">ID</label>
                                            <input type="text" class="form-control" name="id" formControlName="id" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="userManagement.login">Login</label>
                                            <input type="text" class="form-control" name="login"
                                                   formControlName="login">

                                            <div *ngIf="userForm.get('login')!.invalid && (userForm.get('login')!.dirty || userForm.get('login')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('login')?.errors?.required"
                                                       jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>

                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('login')?.errors?.maxlength"
                                                       jhiTranslate="entity.validation.maxlength"
                                                       [translateValues]="{ max: 50 }">
                                                    This field cannot be longer than 50 characters.
                                                </small>

                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('login')?.errors?.pattern"
                                                       jhiTranslate="entity.validation.patternLogin">
                                                    This field can only contain letters, digits and e-mail addresses.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="userManagement.firstName">First Name</label>
                                            <input type="text" class="form-control" name="firstName"
                                                   formControlName="firstName">

                                            <div *ngIf="userForm.get('firstName')!.invalid && (userForm.get('firstName')!.dirty || userForm.get('firstName')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('firstName')?.errors?.maxlength"
                                                       jhiTranslate="entity.validation.maxlength"
                                                       [translateValues]="{ max: 50 }">
                                                    This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label jhiTranslate="userManagement.lastName">Last Name</label>
                                            <input type="text" class="form-control" name="lastName"
                                                   formControlName="lastName">

                                            <div *ngIf="userForm.get('lastName')!.invalid && (userForm.get('lastName')!.dirty || userForm.get('lastName')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('lastName')?.errors?.maxlength"
                                                       jhiTranslate="entity.validation.maxlength"
                                                       [translateValues]="{ max: 50 }">
                                                    This field cannot be longer than 50 characters.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="form-control-label" jhiTranslate="userManagement.email">Email</label>
                                            <input type="email" class="form-control" name="email" formControlName="email">

                                            <div *ngIf="userForm.get('email')!.invalid && (userForm.get('email')!.dirty || userForm.get('email')!.touched)">
                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('email')?.errors?.required"
                                                       jhiTranslate="entity.validation.required">
                                                    This field is required.
                                                </small>

                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('email')?.errors?.maxlength"
                                                       jhiTranslate="entity.validation.maxlength"
                                                       [translateValues]="{ max: 100 }">
                                                    This field cannot be longer than 100 characters.
                                                </small>

                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('email')?.errors?.minlength"
                                                       jhiTranslate="entity.validation.minlength"
                                                       [translateValues]="{ min: 5 }">
                                                    This field is required to be at least 5 characters.
                                                </small>

                                                <small class="form-text text-danger"
                                                       *ngIf="userForm.get('email')?.errors?.email"
                                                       jhiTranslate="global.messages.validate.email.invalid">
                                                    Your email is invalid.
                                                </small>
                                            </div>
                                        </div>

                                        <div class="form-check">
                                            <label class="form-check-label" for="activated">
                                                <input class="form-check-input" [attr.disabled]="user.id === undefined ? 'disabled' : null"
                                                       type="checkbox" id="activated" name="activated" formControlName="activated">
                                                <span jhiTranslate="userManagement.activated">Activated</span>
                                            </label>
                                        </div>

                                        <div class="form-group" *ngIf="languages && languages.length > 0">
                                            <label jhiTranslate="userManagement.langKey">Lang Key</label>
                                            <select class="form-control" id="langKey" name="langKey" formControlName="langKey">
                                                <option *ngFor="let language of languages" [value]="language">{{ language | findLanguageFromKey }}</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label jhiTranslate="userManagement.profiles">Profiles</label>
                                            <select class="form-control" multiple name="authority" formControlName="authorities">
                                                <option *ngFor="let authority of authorities" [value]="authority">{{ authority }}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div *ngIf="hasUser || !createUser">
                                        <button type="button" class="btn btn-secondary" (click)="previousState()">
                                            <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                                        </button>

                                        <button type="submit" [disabled]="userForm.invalid || isSaving" class="btn btn-primary">
                                            <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                                        </button>

                                        <button  *ngIf="hasUser" type="button" [disabled]="userForm.invalid || !employe.userId" class="btn btn-danger">
                                            <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Delete</span>
                                        </button>
                                    </div>

                                    <div *ngIf="!hasUser && createUser">
                                        <button type="button" class="btn btn-primary" (click)="toggleCreateUser()">
                                            <fa-icon icon="plus"></fa-icon>
                                            <span  jhiTranslate="userManagement.home.createLabel">
                                                Create a new User
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>

