<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sector">
            <h2><span jhiTranslate="bankLoanManagerApp.sector.detail.title">Sector</span> {{ sector.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="bankLoanManagerApp.sector.label">Label</span></dt>
                <dd>
                    <span>{{ sector.label }}</span>
                </dd>
                <dt><span jhiTranslate="bankLoanManagerApp.sector.identifier">Identifier</span></dt>
                <dd>
                    <span>{{ sector.identifier }}</span>
                </dd>
                <dt><span jhiTranslate="bankLoanManagerApp.sector.scoring">Scoring</span></dt>
                <dd>
                    <div *ngIf="sector.scoringId">
                        <a [routerLink]="['/scoring', sector.scoringId, 'view']">{{ sector.scoringLabel }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/sector', sector.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
