<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankLoanManagerApp.parameters.home.title">Parameters</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parameters" [routerLink]="['/parameters/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bankLoanManagerApp.parameters.home.createLabel">
            Create a new Parameters
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="parameters?.length === 0">
        <span jhiTranslate="bankLoanManagerApp.parameters.home.notFound">No parameters found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="parameters && parameters.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="identifier"><span jhiTranslate="bankLoanManagerApp.parameters.identifier">Identifier</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="bankLoanManagerApp.parameters.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paramValueString"><span jhiTranslate="bankLoanManagerApp.parameters.paramValueString">Param Value String</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paramValueInt"><span jhiTranslate="bankLoanManagerApp.parameters.paramValueInt">Param Value Int</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="paramValueDate"><span jhiTranslate="bankLoanManagerApp.parameters.paramValueDate">Param Value Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="updatedDate"><span jhiTranslate="bankLoanManagerApp.parameters.updatedDate">Updated Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parameters of parameters ;trackBy: trackId">
                    <td><a [routerLink]="['/parameters', parameters.id, 'view']">{{ parameters.id }}</a></td>
                    <td>{{ parameters.identifier }}</td>
                    <td>{{ parameters.description }}</td>
                    <td>{{ parameters.paramValueString }}</td>
                    <td>{{ parameters.paramValueInt }}</td>
                    <td>{{ parameters.paramValueDate | date:'medium' }}</td>
                    <td>{{ parameters.updatedDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/parameters', parameters.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/parameters', parameters.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(parameters)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="parameters && parameters.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
