<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-parameters-heading" jhiTranslate="bankLoanManagerApp.parameters.home.createOrEditLabel">Create or edit a Parameters</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.identifier" for="field_identifier">Identifier</label>
                    <input type="text" class="form-control" name="identifier" id="field_identifier"
                           formControlName="identifier"/>
                    <div *ngIf="editForm.get('identifier')!.invalid && (editForm.get('identifier')!.dirty || editForm.get('identifier')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identifier')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('identifier')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.paramValueString" for="field_paramValueString">Param Value String</label>
                    <input type="text" class="form-control" name="paramValueString" id="field_paramValueString"
                           formControlName="paramValueString"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.paramValueInt" for="field_paramValueInt">Param Value Int</label>
                    <input type="number" class="form-control" name="paramValueInt" id="field_paramValueInt"
                           formControlName="paramValueInt"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.paramValueDate" for="field_paramValueDate">Param Value Date</label>
                    <div class="d-flex">
                        <input id="field_paramValueDate" type="datetime-local" class="form-control" name="paramValueDate" formControlName="paramValueDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.paramValueJson" for="field_paramValueJson">Param Value Json</label>
                    <textarea class="form-control" name="paramValueJson" id="field_paramValueJson"
                              formControlName="paramValueJson"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="bankLoanManagerApp.parameters.updatedDate" for="field_updatedDate">Updated Date</label>
                    <div class="d-flex">
                        <input id="field_updatedDate" type="datetime-local" class="form-control" name="updatedDate" formControlName="updatedDate" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
