<div>
    <h2 id="page-heading">
        <span jhiTranslate="bankLoanManagerApp.downgrading.home.title">Downgradings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-downgrading" [routerLink]="['/downgrading/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="bankLoanManagerApp.downgrading.home.createLabel">
            Create a new Downgrading
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="downgradings?.length === 0">
        <span jhiTranslate="bankLoanManagerApp.downgrading.home.notFound">No downgradings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="downgradings && downgradings.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdDate"><span jhiTranslate="bankLoanManagerApp.downgrading.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="capital"><span jhiTranslate="bankLoanManagerApp.downgrading.capital">Capital</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="interests"><span jhiTranslate="bankLoanManagerApp.downgrading.interests">Interests</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="penalties"><span jhiTranslate="bankLoanManagerApp.downgrading.penalties">Penalties</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="accessories"><span jhiTranslate="bankLoanManagerApp.downgrading.accessories">Accessories</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="bankLoanManagerApp.downgrading.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="stepLabel"><span jhiTranslate="bankLoanManagerApp.downgrading.step">Step</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="engagementSubject"><span jhiTranslate="bankLoanManagerApp.downgrading.engagement">Engagement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let downgrading of downgradings ;trackBy: trackId">
                    <td><a [routerLink]="['/downgrading', downgrading.id, 'view']">{{ downgrading.id }}</a></td>
                    <td>{{ downgrading.createdDate | date:'medium' }}</td>
                    <td>{{ downgrading.capital }}</td>
                    <td>{{ downgrading.interests }}</td>
                    <td>{{ downgrading.penalties }}</td>
                    <td>{{ downgrading.accessories }}</td>
                    <td>{{ downgrading.description }}</td>
                    <td>
                        <div *ngIf="downgrading.stepId">
                            <a [routerLink]="['/downgrading-step', downgrading.stepId , 'view']" >{{ downgrading.stepLabel }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="downgrading.engagementId">
                            <a [routerLink]="['/engagement', downgrading.engagementId , 'view']" >{{ downgrading.engagementSubject }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/downgrading', downgrading.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/downgrading', downgrading.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(downgrading)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="downgradings && downgradings.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
