<div class="container-fluid">

    <jhi-page-title title="bankLoanManagerApp.entite.home.createOrEditLabel" [breadcrumbItems]="breadCrumbItems"></jhi-page-title>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                        <div>
                            <jhi-alert-error></jhi-alert-error>

                            <div class="form-group" [hidden]="!editForm.get('id')!.value">
                                <label for="id" jhiTranslate="global.field.id">ID</label>
                                <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.identifier" for="field_identifier">Identifier</label>
                                <input type="text" class="form-control" name="identifier" id="field_identifier"
                                       formControlName="identifier"/>
                                <div *ngIf="editForm.get('identifier')!.invalid && (editForm.get('identifier')!.dirty || editForm.get('identifier')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('identifier')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('identifier')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                                    This field cannot be longer than 32 characters.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.label" for="field_label">Label</label>
                                <input type="text" class="form-control" name="label" id="field_label"
                                       formControlName="label"/>
                                <div *ngIf="editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('label')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.shortLabel" for="field_shortLabel">Short Label</label>
                                <input type="text" class="form-control" name="shortLabel" id="field_shortLabel"
                                       formControlName="shortLabel"/>
                                <div *ngIf="editForm.get('shortLabel')!.invalid && (editForm.get('shortLabel')!.dirty || editForm.get('shortLabel')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('shortLabel')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }">
                                    This field cannot be longer than 50 characters.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.parent" for="field_parent">Parent</label>
                                <input type="number" class="form-control" name="parent" id="field_parent"
                                       formControlName="parent"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.isEnabled" for="field_isEnabled">Is Enabled</label>
                                <input type="checkbox" class="form-control" name="isEnabled" id="field_isEnabled"
                                       formControlName="isEnabled"/>
                                <div *ngIf="editForm.get('isEnabled')!.invalid && (editForm.get('isEnabled')!.dirty || editForm.get('isEnabled')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('isEnabled')?.errors?.required" jhiTranslate="entity.validation.required">
                                    This field is required.
                                    </small>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.adrs1" for="field_adrs1">Adrs 1</label>
                                <input type="text" class="form-control" name="adrs1" id="field_adrs1"
                                       formControlName="adrs1"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.adrs2" for="field_adrs2">Adrs 2</label>
                                <input type="text" class="form-control" name="adrs2" id="field_adrs2"
                                       formControlName="adrs2"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.adrs3" for="field_adrs3">Adrs 3</label>
                                <input type="text" class="form-control" name="adrs3" id="field_adrs3"
                                       formControlName="adrs3"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.zipcode" for="field_zipcode">Zipcode</label>
                                <input type="text" class="form-control" name="zipcode" id="field_zipcode"
                                       formControlName="zipcode"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.city" for="field_city">City</label>
                                <input type="text" class="form-control" name="city" id="field_city"
                                       formControlName="city"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.country" for="field_country">Country</label>
                                <input type="text" class="form-control" name="country" id="field_country"
                                       formControlName="country"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.email" for="field_email">Email</label>
                                <input type="text" class="form-control" name="email" id="field_email"
                                       formControlName="email"/>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.parameters" for="field_parameters">Parameters</label>
                                <textarea class="form-control" name="parameters" id="field_parameters"
                                          formControlName="parameters"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" jhiTranslate="bankLoanManagerApp.entite.parentId" for="field_parentId">Parent Id</label>
                                <input type="text" class="form-control" name="parentId" id="field_parentId"
                                       formControlName="parentId"/>
                                <div *ngIf="editForm.get('parentId')!.invalid && (editForm.get('parentId')!.dirty || editForm.get('parentId')!.touched)">
                                    <small class="form-text text-danger"
                                           *ngIf="editForm.get('parentId')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 32 }">
                                    This field cannot be longer than 32 characters.
                                    </small>
                                </div>
                            </div>
                        </div>

                        <div>
                            <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                                <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                            </button>

                            <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                                <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
